* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

html {
  font-size: 80%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #f6f6f7;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}